@charset "UTF-8";

/*
tabMenu.css
*/

/*------------- Tab Menu Box -------------*/

#tabMenuBox {
    position: relative;
    width: 100%;
    z-index: 10;
    border: solid 10px black;
    /*border-top: none;*/
}

#tabMenuBox li {
    position: relative;
    display: block;
    text-align: center;
    list-style-type: none;
    margin: 20px;
}

#tabMenuBox li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin: 10px;
}
#tabMenuBox li a:hover{
    color: black;
}