@charset "UTF-8";
/* content.css */

/*****************content********************/



#contentBox .deview div{
    display:inline-block;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top:20px;
    margin-left:100px;
}




#contentBox .techConcert div{
    display:inline-block;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top:30px;
    margin-left:100px;
}


#contentBox .campusFest div{
    display:inline-block;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top:30px;
    margin-left:100px;
}


#contentBox .d2_Campus div{
    display:inline-block;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top:30px;
    margin-left:100px;
}



#contentBox .community div{
    display:inline-block;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top:30px;
    margin-left:100px;
}

/* 글씨 이미지 넣기 */

#deviewText strong{
    background-size: 130px 23px;
    width: 130px;
    height: 23px;
    background-image: url(..image/logo-deview.svg);
    overflow: hidden;
    display: block;

}

#techText strong{
    width: 232px;
    height: 24px;
    overflow: hidden;
    display: block;
    margin-bottom: 15px;
    background: url(..image/sp_program_logo_v3.png) no-repeat;
    background-position: -368px -296px;
    background-size: 670px 400px;
    color: transparent;
    line-height: 100px;
}

#FestText strong{
    width: 131px;
    height: 38px;

    overflow: hidden;
    display: block;
    margin-bottom: 15px;
    background: url(..image/sp_program_logo_v3.png) no-repeat;
    background-position: -212px 0;
    background-size: 670px 400px;
    color: transparent;
    line-height: 100px;
}

#campusText strong{
    width: 154px;
    height: 33px;
    overflow: hidden;
    display: block;
    margin-bottom: 15px;
    background: url(..image/sp_program_logo_v3.png) no-repeat;
    background-position: -212px -105px;
    background-size: 670px 400px;
    color: transparent;
    line-height: 100px;
}

#communityText strong{
    width: 206px;
    height: 33px;
    overflow: hidden;
    display: block;
    margin-bottom: 15px;
    background: url(..image/sp_program_logo_v3.png) no-repeat;
    background-position: 0 0;
    background-size: 670px 400px;
    color: transparent;
    line-height: 100px;
}


/**********가운데 정렬*/

#deviewText{
    margin-left : 10px;
}